# Unity
.utmp/
Library/
Temp/
obj/
Logs/
UserSettings/

#vs
*.csproj
*.sln

# IDE
.vscode/
.gradle/
.vs/
.idea/

# Muna
ProjectSettings/Muna.asset
ProjectSettings/Function.asset

# NatML
ProjectSettings/NatML.asset
ProjectSettings/NatMLHub.asset

# VideoKit
ProjectSettings/VideoKit.asset

# Misc
.DS_Store